name: flutter_week_view_example
description: Demonstrates how to use the flutter_week_view plugin.
publish_to: 'none'

environment:
  sdk: '>=3.6.0 <4.0.0'

dependencies:
  url_launcher: ^6.3.2
  flutter_week_view:
    path: ../
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
